.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: gray;
  border-radius: 20px;
  padding: 20px;
  max-width: 200px;

  .controller-indicator {
    color: #000;
    background-color: var(--bg-color, rgb(173, 216, 230));
    border-radius: 50%;
    font-size: 18px;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
  }

  .controller-protection {
    display: flex;
    font-size: 13px;
  }

  .controller-buttons {
    display: flex;
    gap: 15px;
    padding-top: 30px;
  }

  .controller-message {
    background-color: azure;
    padding: 5px;
    border-radius: 15px;
  }
}
